@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 60px;
  --footer-height: 200px;
  --sidebar-width: 300px;

  --color-primary: #3b82f6;
  --color-primary-light: #60a5fa;
  --color-success: #22c55e;
  --color-success-light: #4ade80;
  --color-warning: #eab308;
  --color-warning-light: #facc15;
  --color-error: #ef4444;
  --color-error-light: #f87171;
  --color-info: #6b7280;
  --color-info-light: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
}
